@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/*-- main --*/
body {
    font-family: "Montserrat";
    font-weight: 400;
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
}

h3 {
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    padding: 82px 0 112px;
    position: relative;
}

h3:after, h3:before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    bottom: 0;
}

h3:before {
    bottom: 74px;
    left: calc(50% - 45px);
}

h3:after {
    bottom: 70px;
    left: calc(50% - 30px);
}

.container {
    width: 1160px;
}

.uppercase {
    text-transform: uppercase;
}

.green-text-color {
    color: #18cfab;
}

/*-- header--*/
header {
    color: #fff;
    z-index: 1;
    position: absolute;
    width: 100%;
    background: hsla(50, 3%, 56%, 0.5);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between-container {
    display: flex;
    justify-content: space-between;
}

.header-caption {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 85px;
}

.header-title {
    font-size: 79px;
}

.subtitle {
    color: #d4d4d4;
    font-weight: 300;
}

.menu-box {
    font-weight: 700;
    display: flex;
    flex: 0 0 700px;
    align-items: center;
    justify-content: space-between;
}

.men-item {
    white-space: nowrap;
    color: #d4d4d4;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.men-item.active {
    color: #18cfab;
}

.men-item.active:after, .men-item:hover:after {
    content: '';
    background: #18cfab;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -55px;
}

.btns-holder {
    margin-top: 90px;
}

.latest-news-section {
    background: url("../img/Sections_background/section-1(header).jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    align-content: center;
}

.slider-holder {
    background: url("../img/Sections_background/section-3.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 850px;
}

.thin-section {
    background: url("../img/Sections_background/section-2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 475px;
}

.thin-section:before {
    content: '';
    z-index: 0;
    background-color: #000000;
    opacity: 0.78;
    position: absolute;
    height: 100%;
    width: 100%;
}

.thin-section p {
    color: #d8d8d8;
    font-size: 16px;
    margin: 35px 0 80px;
}

.thin-section .green-text-color {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
}

.thin-section-inner {
    z-index: 1;
    position: relative;
}

.parallax {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.btn-pimary {
    color: #fff;
    border: none;
    outline: none;
    width: 165px;
    height: 60px;
    margin: 0 14px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    border-top: 4px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s;
}

.btn-green {
    background: #18cfab;
}

.btn-blue {
    background: #00cbf6;
}

.btn-pimary:hover {
    border-top-color: transparent;
}

/*options section*/
.options-wrap {
    display: flex;
}

.option-item {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: 1;
    height: 375px;
}

.option-item img {
    max-height: 75px;
}

.dark-option-item {
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;
    color: #18cfab;
}

.green-option-item {
    background-color: #18cfab;
    border-top: 4px solid #fff;
    color: #fff;
}

.option-item-title {
    font-weight: 700;
    margin-top: 49px;
}

/* END options section*/

/*tabs*/
.centered-content ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    height: 73px;
    margin-bottom: 25px;
}

.tabs-title {
    cursor: pointer;
    border: solid #71717138;
    border-width: 1px 1px 1px 0;
    background-color: #f8fcfe;
    text-align: center;
    color: #717171;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.tabs-title:first-child {
    border-left: 1px solid #71717138;
}

.tabs-title.active {
    background-color: #18cfab;
    border-color: #18cfab;
    position: relative;
    color: #fff;
}

.tabs-title.active:after {
    content: '';
    border: 13px solid transparent;
    border-top: 13px solid #18cfab;
    position: absolute;
    bottom: -27px;
}

.tabs-content:before {
    content: '';
    background: url("../img/Layer_9.png") no-repeat;
    display: block;
    width: 195px;
    height: 140px;
    margin-right: 20px;
    float: left;
}

.show-tab {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

/*END tabs*/

/*breaking-news section*/
.breaking-news {
    text-align: center;
    display: grid;
    padding-bottom: 90px;
}

.breaking-news-list {
    width: 1142px;
    height: 605px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.breaking-news-item {
    text-decoration: none;
}

.breaking-news-img {
    position: relative;
    height: 208px;
    width: 263px;
}

.breaking-news-img1 {
    background: url('../img/breaking-news/img1.png') 100% 100% no-repeat;
}

.breaking-news-img2 {
    background: url('../img/breaking-news/img2.png') 100% 100% no-repeat;
}

.breaking-news-img3 {
    background: url('../img/breaking-news/img3.png') 100% 100% no-repeat;
}

.breaking-news-img4 {
    background: url('../img/breaking-news/img4.png') 100% 100% no-repeat;
}

.breaking-news-img5 {
    background: url('../img/breaking-news/img5.png') 100% 100% no-repeat;
}

.breaking-news-img6 {
    background: url('../img/breaking-news/img6.png') 100% 100% no-repeat;
}

.breaking-news-img7 {
    background: url('../img/breaking-news/img7.png') 100% 100% no-repeat;
}

.breaking-news-img8 {
    background: url('../img/breaking-news/img8.png') 100% 100% no-repeat;
}

.breaking-news-item-date {
    position: absolute;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    right: 0;
    top: 0;
    text-align: center;
}

.breaking-news-date {
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    padding-top: 10px;
    height: 37px;
}

.breaking-news-month {
    font-size: 16px;
    margin: 0 0 5px 0;
    text-align: center;
}

.breaking-news-item-text {
    background-color: #f8fcfe;
    height: 72px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 20px;
}

.breaking-news-head-text {
    margin-top: 0;
    padding-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(113, 113, 113, 255);
}

.breaking-news-text-comment {
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
}

.breaking-news-item:hover .breaking-news-item-date {
    background-color: #18cfab;
}

.breaking-news-item:hover .breaking-news-head-text {
    color: #18cfab;
}

/*END breaking-news section*/

/*Gallery*/
.gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 830px;
    justify-content: flex-start;
    align-content: center;
}

.post-item {
    margin: 0 15px 16px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.post-caption {
    padding: 20px 30px 22px;
    background: #fff;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.3%;
}

.grid-item {
    float: left;
    padding-bottom: 17px;
    cursor: pointer;
}

.grid-item-2 img, .grid-item-6 img {
    display: inline-block;
    width: auto;
}

.content-wrap .container {
    margin: 0 auto;
}

.hidden-img {
    display: none;
}

/* END Gallery*/

/*slider*/
.slider-holder h3 {
    color: #fff;
}

.slider-holder .container {
    margin: 0 auto;
}

.testimonials_img {
    margin-bottom: 44px;
}

.slider-testimonials {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.slider-caption {
    margin-top: 44px;
}

.testimonials-author {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
}

.slider-nav {
    max-width: 420px;
    margin: 0 auto;
}

.slider-nav .slick-slide img {
    display: block;
    max-width: 60px;
    border-radius: 50%;
    box-shadow: 0 0px 0px 5px rgba(17, 76, 75, 0.4);
    margin: 0 auto;
    transition: all .7s;
}

.slider-nav .slick-slide.slick-current img,
.slider-nav .slick-slide:hover img {
    border: 1px solid rgba(51, 217, 178, 1);
    margin-top: -15px;
    position: relative;
    transition: all .7s;
}

.slider-caption-inner {
    margin-bottom: 27px;
}

.slider-nav .slick-slide {
    padding: 5px 0;
}

.slider-nav .slick-list {
    padding-top: 45px;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: 1px solid #bbb;
    outline: none;
    background: url("../img/Forma_preview.png") no-repeat center;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: url("../img/Forma_testimonials_hover.png") no-repeat center #18cfab;
    border-color: #18cfab;
    margin-top: -10px;
}

.slick-prev:hover,
.slick-prev:focus {
    transform: rotate(180deg);
    margin-top: 4px;
}

.slick-next:hover,
.slick-next:focus {
    transform: rotate(360deg);
    margin-top: 8px;
}

.slick-prev {
    left: -34px;
    margin-top: 19px;
}

.slick-next {
    right: -34px;
    transform: rotate(180deg);
    margin-top: 8px;
}

.blob {
    border: 3px solid rgba(51, 217, 178, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    margin: 10px auto;
    height: 142px;
    width: 142px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

/*END Arrows */
/*END slider*/

/*Work section*/
.work_wrap {
    background: #f8fcfe;
    border-bottom: 1px solid #7777774a;
}

.our-work-section {
    text-align: center;
    background-color: #f8fcfe;
    border-bottom: 2px solid #e1e1e1;
}

.our-work_menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 auto 71px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    max-width: 609px;
}

.our-work_menu-item {
    border-top: 2px solid transparent;
    font-size: 14px;
    justify-content: center;
    color: #717171;
    height: 58px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: calc(100% / 5);
    transition: all .4s;
}

.our-work_menu-item-active,
.our-work_menu-item-active:hover,
.our-work_menu-item:hover {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.our-work-gallery {
    width: 1140px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item-img-our-work {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category {
    position: relative;
}

.img-our-work {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-img-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8fcfe;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .4s;
}

.category:hover .our-img-hover {
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: scaleX(1);
    top: 0;
}

.social-icons {
    padding-bottom: 34px;
    height: 41px;
    display: flex;
    justify-content: center;
}

.social-icons > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-load-category {
    display: none;
}

.share-for-hover {
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.search-for-hover {
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    text-align: center;
    background-color: #18cfab;
}

.text-hover-caption {
    font-size: 14px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}

.text-hover-category {
    padding-top: 13px;
    color: #8a8a8a;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
}

.our-work-btn, .best-images-button {
    width: 165px;
    height: 55px;
    padding-top: 5px;
    margin: 80px auto;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.img-plus-button {
    width: 16px;
    height: 16px;
    align-self: center;
    font-weight: 700;
}

.text-load-more {
    align-self: center;

}

/*footer*/
footer {
    background: #1d2124;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1168px);
    color: #aeaeae;
    font-size: 14px;
}

footer a {
    color: #18cfab;
}

footer span {
    text-align: center;
}

.loader-icon {
    display: none;
    position: relative;
    margin-top: 30px;
    left: -10px;
}
.work_wrap .loader-icon-holder .loader-icon{
    top: -30px;
    margin-top: 0px;
}
.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: white;
    filter: contrast(20);
}

.gooey-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey-dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #4e4e4e;
    border-radius: 50%;
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
